# Practice your variables!
Course: BBA 108-Essentials of Computing & Coding

Submission date: Sunday (19/09/21), 11:59 p.m.

Hey everyone! This is a practice bonus assignment worth 10 points. I **highly** encourage all of you to do this.

Please contact the following **on Slack** if there are any questions or issues:

- @Shourya Watwani 
- @Vanshika Raj 
- @Aryan Gupta 

Thank you! Happy coding :)

In [ ]:
# Create and print a variable to tell us your name.

In [3]:
student_name = "zaid"
student_name

'zaid'

In [ ]:
# Create and print a variable to tell us your age.

In [4]:
student_age = 18
student_age

18

In [ ]:
# Create and print a variable to tell us how many times you've taken a trip within India.

In [5]:
in_india = 3
in_india

3

In [ ]:
# Create and print a variable to tell us how many times you've taken a trip outside India.

In [6]:
out_india = 4
out_india

4

In [3]:
# Create and print a variable to calculate the total number of trips you've taken.

In [7]:
total_india = in_india + out_india
total_india

7

In [4]:
# Create and print a variable to tell us total number of trips you've taken, using the numeric value in a sentence.

In [16]:
starting_phrase = "the total trips i have taken is  "
starting_phrase

'the total trips i have taken is  '

In [17]:
sentence = starting_phrase+str(total_india)
sentence

'the total trips i have taken is  7'

In [6]:
# Create and print a variable to tell us whether the statement-
# -"I have taken more trips within India than outside India" is true or false using boolean variables.

In [18]:
print("in_india" , in_india)
print("out_india" , out_india)

in_india 3
out_india 4

In [19]:
are_trips_in_india_more = in_india>out_india
are_trips_in_india_more

False

In [ ]:
# Create and print a variable to calculate the average number of trips you've taken in a year using-
# your total number of trips and your age.

In [20]:
average_trips = (total_india)/student_age
average_trips

0.3888888888888889

In [ ]:
# Create and print a variable to tell us average number of trips you've taken, using the numeric value in a sentence.

In [21]:
starting_phrase = "the average trips i have taken is  "
starting_phrase

'the average trips i have taken is  '

In [22]:
sentence = starting_phrase+str(average_trips)
sentence

'the average trips i have taken is  0.3888888888888889'